/* Garantir que o body ocupe toda a altura da tela */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden; /* Evitar rolagem */
}

h1 {
    margin-top: 90px;
}

/* Ajustar o tamanho do mapa para ocupar o espaço da tela */
#map {
    height: 100%;  /* Mapa ocupando 100% da altura disponível */
    width: 100%;   /* Mapa ocupando 100% da largura */
    position: absolute;  /* Faz o mapa ocupar toda a tela */
    top: 0;
    left: 0;
}

/* Estilos para o campo de pesquisa */
#search {
    margin: 20px;
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
}

/* Estilos para a seção de filtros */
#filterOptions {
    margin: 40px;
    text-align: left;
    display: inline-block;
}

/* Estilos para o modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;  /* Aumente o z-index para garantir que o modal fique acima do mapa */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;  /* Diminua a margem para que o modal seja mais centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-height: 90vh;  /* Limite a altura máxima do modal */
    overflow-y: auto;  /* Adicione rolagem caso o conteúdo do modal seja muito grande */
}

audio {
    display: none; /* Ocultar elementos de áudio */
}

/* Estilos para o botão de fechar o modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o ícone de três barras */
.menu-icon {
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 70px;
    z-index: 1001; /* Certifique-se de que o ícone fique acima do mapa */
}

/* Estilos para o menu escondido */
.menu {
    position: fixed;
    top: 0;
    left: -410px; /* Mantém o menu fora da tela até que seja clicado */
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    z-index: 1000; /* Ficar acima do mapa */
}

.menu.show {
    left: 0; /* Expande o menu para dentro da tela */
}

/* Estilos para o botão "Visitar Página da Wikipédia" */
.visit-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.visit-button:hover {
    background-color: #45a049;
}

/* Estilo para o contêiner de categorias */
.category-container {
    margin-top: 10px;
}

.category-container h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.category-container p {
    font-size: 16px;
    color: #555;
}

/* Estilo para o nome da categoria */
.modal-content p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

/* Estilo do pop-up */
.popup {
    display: none; /* Inicialmente o pop-up está escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 15px;
}

.popup-content p {
    margin-bottom: 20px;
}

.popup-content button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #ddd;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

