body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#map {
    height: 600px;
    width: 100%;
    margin: 20px 0;
}

#search {
    margin: 20px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
}

#filterOptions {
    margin: 20px;
    text-align: left;
    display: inline-block;
}

/* Estilos para o modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;  /* Aumente o z-index para garantir que o modal fique acima do mapa */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;  /* Diminua a margem para que o modal seja mais centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-height: 90vh;  /* Limite a altura máxima do modal */
    overflow-y: auto;  /* Adicione rolagem caso o conteúdo do modal seja muito grande */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


